h1
{
	color: red;
}
.stylingColor2
{
	color: pink;
}
.stylingColor
{
	color: blue;
}

#stylingSpecificParagraph
{
	color: purple;
}

p
{
	color: pink;
}

.stylingColor3
{
	color: yellow;
}

p
{
	color: yellow;
}


